*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
}
body {
    background-image:url("images/bg2.png");
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heading {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    color:rgb(205, 13, 13);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 600px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 12px 12px 12px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.button {
    background-color: rgb(205, 13, 13);
    border: none;
    color: white;
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 15 15 15px grey;
}

.button:hover {
    background-color: rgb(255, 181, 181);
    color:rgb(205, 13, 13);
    border: 1px solid rgb(205, 13, 13);
}

.equal {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}

#result {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(205, 13, 13);
}
